/* navbar */
.line{
   border: solid white;

}

.bg-dark{
    color:white;
}

.navcol{
    color: white;
}
.active2{
       color: white;
}

.colorbar{
    color: white;
}


.navbar-toggler-icon{
    filter:  brightness(0) invert(1);
   
}




/* section 2 */


.Section-heading{
    /* background-color: rgb(191, 182, 201); */
    background-image: url(/1\ \(3\).jpg);
    padding: 3% 0% 3% 0%;
    text-align: center;
    font-size: x-large;
    font-weight: 900;
    color: black;

}


.col-sm-12{
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    font-weight: 800;
}
.col-lg-3{
    padding-bottom: 2%;
}

.Titlerow{
    text-align: center;
    
}

.first{
    width: 100%;
    height: auto;
}


/* Products */
.menu{
    border: 2px solid white;
    text-align: center;
    /* margin-top: 2%; */
    font-size: xx-large;
    color: white;
    background-color: black;
    font-weight: 800;
}
   
    

.items{
    margin-top: 2%;
    text-align: center;
    Padding-top:3%;
    color: white;
    background-color: rgb(0, 0, 0);
}

.liitems{
    border:2px solid red;
}

.row2{
    margin-bottom:2% ;
    background-color: black;
}

.Footitems{
    text-align: center;
    font-size: 1.4rem;
    font-weight: bolder ;
    padding-bottom: 2%;
    
}

.footitems2{
    border: 2px solid wheat;
}


ul{
    list-style-type: none;
}
.atag{
    
    text-decoration: none;
    color: black;
    display: inline-block;

}
.Footer{
    padding: 0% 5% 0% 5% ;
}

.atag:hover{
    text-decoration: none;
    
    
   
}

.socialmedia{
    display: grid;
}

.A{
    text-decoration: none;
    

}

.Button{
    text-align: center;
    background-color:black;
    z-index: -1;
}
.fa-cl{
    font-size: large;
    padding: 1.5rem;
}
li-st

.fa-2x{
    
    padding: 0;
    color: rgb(107, 107, 226);
    
}

.fa-cl{
    padding: 0;
    margin: 1.4rem;
}



.fa-facebook{
    color: blue;
}
.fa-instagram{
    color: #8a3ab9;
}

.fa-youtube{
    color: rgb(155, 0, 0);
}

a.footerlink{
    padding: 0;
    margin: 0;
}

